
.AproposContainer{
    width: 90%;
    max-width: 1023px;
}

.AproposContainer .box{
    margin: 30px 0px 0px 0px;
}

.AproposContainer .collapseTopPart h2{
    font-size: 24px;
    margin-left: 15px;
    font-weight: 500;
}

.AproposContainer .contentToBottom {
    font-size: 24px;
    color: rgb(255, 96, 96);;
    padding-bottom: 10px;
    height: 146px;
}

@media only screen and (max-width: 800px)  {
    .AproposContainer .collapseTopPart{
        height: 39.93px;
        font-size: 13px;
    }
    
    .AproposContainer .collapseTopPart h2{
        font-size: 13px;
        margin-left: 15px;
        font-weight: 500;
    }
    
    .AproposContainer{
        width: 100%;
        
    }

    .AproposContainer .contentToBottom{
        font-size: 12px;
    }
}