header{
    width: 100%;
}

.logo{
    background-image: url(../img/logoDesktop.png);
    width: 210.32px;
    height: 68px;
}

.headerTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul{
    display: flex;
}

li{
    font-size: 24px;
    display: flex;
    text-decoration: none;
    margin-left: 70px;
    font-size: 24px;
    font-weight: 500;
}

li .link{
    color: rgb(255, 96, 96);
}

li .linkActive{
    color: rgb(255, 96, 96);
    text-decoration: underline;
}


@media only screen and (max-width: 800px)  {
    .logo{
        background-image: url(../img/logoMobile.png);
        width: 145px;
        height: 43px;
    }

    li{
        font-size: 12px;
        margin-left: 20px;
    }

    li .link{
        color: rgb(255, 96, 96);
        text-decoration: none;
        margin-left: 0px;
        font-size: 12px;
        text-transform: uppercase;
    }

    li .linkActive{
        color: rgb(255, 96, 96);
        text-decoration: underline;
        margin-left: 0px;
        font-size: 12px;
        text-transform: uppercase;
    }
}