
.ficheLogement {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ff6060;
}

h1{
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
}

.location{
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  margin-top: -20px;
  margin-bottom: 0px;
}

.cardCover img {
  width: 100%;
  height: 415px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: -10px;
  padding: 0px;
  border-radius: 25px;
  object-fit: cover;
}

.rateBox{
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  text-align: right;
  margin-top: 15px;
}

.stars svg{
  margin-left: 3px;
  width: 30px;
  height: 30px;
}

.details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.container{
  width: 100%;
  max-width: 1023px;
}

.container .box{
  height: auto;
  margin: 10px 0px 10px 0px;
}

.box{
  min-width: 100%;
  max-width: 1023px;
  background-color: #F6F6F6;
  border-radius: 5px;
  margin: 40px 0px 40px 0px;
  transition-duration: 200ms;
}

.collapseTopPart{
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgb(255, 96, 96);
  height: 47px;
  border-radius: 10px;
}

.container .collapseTopPart h2{
  font-size: 18px;
  margin-left: 15px;
  font-weight: 500;
}

.details .container{
  width: 47%;
}

.collapseTopPart .btn{
  width: auto;
  height: auto;
  margin-right: 10px;
  background-color: transparent;
  border: none;
}

.content {
  width: 95%;
  height: auto;
  color: rgb(255, 96, 96);
  border-radius: 5px;
  line-height: 142.6%;
  font-style: normal;
  font-weight: 400;
  font-size:18px;
}

.contentToBottom{
  animation-fill-mode: forwards;
  padding-left: 15px;
  margin-right: 5px;
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 18px;
}

.tagsBox{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0px;
  margin-top: 5px;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 5px 0px 5px;
  min-width: 105px;
  margin-left: 0px;
  margin-right: 10px;
  height: 25px;
  font-size: 14px;
  background: rgba(255, 96, 96, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}

.topPart {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 100%;
}

.hostBox{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.hostName{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: right;
  margin-right: 15px;
  width: 75px;
  height: 52px;
}

.profilPicture img {
  width: 64px;
  border-radius: 100px;
}


@media only screen and (max-width: 800px)  {
  h1{
    font-size: 18px;
    line-height: 142.6%;
  }

  .topPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
  }

  .location{
    font-size: 14px;
    margin-top: -10px;
    line-height: 142.6%;
  }

  .tags {
    font-size: 10px;
    border-radius: 5px;
    min-width: 84px;
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    height: 18px;
  }

  .topRightPart{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
  }

  .hostBox{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
  }

  .profilPicture img {
    width: 32px;
    border-radius: 100px;
  }

  .rateBox{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    text-align: right;
  }
  
  .stars svg{
    margin-left: 3px;
    width: 15px;
    height: 15px;
  }

  .details{
    flex-direction: column;
  }

  .collapseTopPart{
    height: 39.93px;
  }

  .container .collapseTopPart h2{
    font-size: 13px;
    margin-left: 15px;
    font-weight: 500;
  }

  .details .container{
    width: 100%;
    font-size: 12px;
  }

}